/* Paleta de colores:
lavanda oscuro #B385F2
azul claro #5854BF
azul oscuro #021F59
rosa #F294C8
moradito #7162D9

crear variables para: 
-fondo 
-shadow
-h1, h2, h3, h4
-parrafos
*/
body.darkMode {

}

body.lightMode {
    --backgrnd-color: aliceblue;
    --desc-text: #021F59;
    --title-text: #502978;
}

body.defaultMode {
    --blur-text: #502978;
    --lilac-text: #a791f5;
    --blue-intense: #021F59;
    --pink: #F294C8;
    --purple: #7162D9;
    --darker-purple: #B385F2;
    --lithg-blue: #5854BF;
    --title-text: white;
    --desc-text: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body.defaultMode main {
    width: 100%;
    height: 100vh;
    background-image: url("./img/descarga-nueva.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    color: var(--title-text);
}

/* Title section: */

.title-section {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    height: 100%;
    min-height: 60vh;
    padding: 50px;
    margin-top: 8rem;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(2, 50%); */
    align-items: center;
}

.title {
    font-size: 5rem;
    text-shadow: 2px 2px 2px var(--blur-text);
}
.name {
    font-size: 3rem;
}
.principal-section {
    width: 100%;
}

.title-2 {
    width: 100%;
    max-width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
    font-size: 4rem;
}

.container, .last-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 4rem;
    margin: 0 auto;
    padding: 15px;
    justify-items: center;
}

.last-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 0;
}

.proyect {
    display: grid;
    align-content: center;
    width: 80%;
    height: 250px;
    border: none;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    justify-content: space-evenly;
    padding: 8px;
}

.subtitle {
    text-align: center;
    font-size: 3rem;
    padding: 8px;
}

.subtitle-tc {
    font-size: 2rem;
    text-align: center;
    color: var(--desc-text);
    padding: 6px;
}

.company-name {
    text-align: left;
}

.description {
    margin: 5px;
    padding: 8px;
    width: auto;
    font-size: 1.6rem;
    color: var(--desc-text);
    /* text-shadow: 2px 2px 2px var(--blur-text); */
}

.work-project-desc {
    text-align: center;
}

.work-experience-descr {
    text-align: left;
}

.tech-used {
    text-align: center;
}

.card-experience {
    display: grid;
    align-content: center;
    width: 100%;
    height: auto;
    padding: 8px;
    margin: 2rem;
}

section#experience {
    background: #021f59b5;
    box-shadow: 0 0 4px 3px #021f59b5;
}

section.container-experience {
    margin: 0 5rem;
}

.container-experience-section {
    display: grid;
    grid-template-columns: 65% 45%;
    align-items: center;
    padding: 2rem;
    justify-content: space-evenly;
}

.front-image {
    width: 100%;
}

.front-image img {
    width: 100%;
    max-width: 350px;
}

.btn {
    width: 100%;
    max-width: 125px;
    height: 26px;
    border: 1.5px solid white;
    color: white;
    background-color: rgba(137, 43, 226, 0.779);
    text-align: center;
    padding: 2px;
    align-content: center;
    font-size: 1.4rem;
    justify-self: center;
    border-radius: 5px;
}

.proyect:hover,
.proyect:focus {
    transition: all 0.4s ease-in-out;
    transform: scale(1.15);
}

.sidebar:hover,
.sidebar:focus {
    background-image: url("./gifs/Sidebar.gif");
    background-size: cover;
    background-position: center;
}

.mobilefirst:hover,
.mobilefirst:focus {
    background-image: url("./gifs/MobileFirst.gif");
    background-size: cover;
    background-position: center;
}

.twitter:hover,
.twitter:focus {
    background-image: url("./gifs/Twitter.gif");
    background-size: cover;
    background-position: lef;
}

.platzi:hover,
.platzi:focus {
    background-image: url("./gifs/PlatziDay.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intranet:hover,
.intranet:focus {
    background-image: url("./gifs/intranet.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.secondary-section {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
    padding: 15px;
}

.section-aboutme {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    line-height: 0;
}

.photo {
    width: 320px;
    height: 320px;
    padding: 15px;
}

.me-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.img-container {
    margin: 0 auto;
}

.info-container {
    padding-top: 35px;
    background-color: rgb(0 45 112 / 42%);
    backdrop-filter: blur(25px);
    padding-bottom: 12px;
}

.aboutme {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 8px;
    text-align: start;
    line-height: 40px;

}

.contact {
    margin: 5px;
    padding: 8px;
    text-align: center;
    width: auto;
    font-size: 3.8rem;
    color: white;
    text-shadow: 2px 2px 2px var(--blur-text);

}

.socialm {
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .container {
        width: 90vw;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        padding: 8px;
        gap: 25px;
        justify-items: center;
    }
    .proyect {
        width: 85%;
        height: 250px;
    }
}
@media (max-width: 620px) {
    .container {
        width: 90vw;
        display: grid;
        grid-template-columns: 100%; 
    }
    .proyect {
        width: 85%;
        height: 250px;
    }
    .title-2 {
        width: 100%;
        max-width: 50%;
    }
    .section-aboutme {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}

/* Header */
.mainMenu {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #cabef66e;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 20px #cabef66e;
}
.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu-list ul {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}
.menu-list ul li a {
    color: var(--desc-text);
    font-size: 2rem;
    display: flex;
}

.dark-mode-btns {
    display: flex;
    gap: 10px;
}

.dark-mode-btns div i {
    width: 3rem;
    font-size: 2.2rem;
}

.fa-bluesky {
    background-image: linear-gradient(45deg, var(--title-text), var(--darker-purple), var(--lilac-text));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoImg {
    width: 100%;
    max-width: 50px;
}
.logoImg:hover,
.logoImg:focus {
    transition: all 0.4s ease-in-out;
    transform: scale(1.5);
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px;
}

/* Sidebar Section: */

/* .mainSidebar {
    display: flex;
    height: 100vh;
    background: var(--lilac-text); 
    //backdrop-filter: blur(6px);
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 12px 12px 0;
    transition: all 0.3s ease-out 0.3s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.menu-list {
    display: flex;
    align-items: center;
} */

.contact-card {
    width: 100%;
    max-width: 200px;
    height: 150px;
    z-index: 2;
    border-radius: 15px;
    border: solid 8px var(--lithg-blue);
    background-color: var(--darker-purple);
    position: fixed;
    right: -140px;
    bottom: 40px;
    transform: rotate(320deg);
    transition: ease-in-out 2s;
    text-align: center;
}

.contact-card:hover {
    right: 0;
}

.contact-title-card {
    font-size: 2rem;
    padding: 1.5rem;
}